<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Open Blog: <%= title %></title>
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-md navbar-light bg-white py-3 shadow-sm sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold" href="/">Open Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <form action="/" method="POST" class="navbar-form mr-3 bg-light border rounded">
                        <input class="form-control bg-light border-0 rounded" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-primary px-3 border-0 rounded-right"><span class="ti-search"></span></button>
                    </form>
                    <% if (isAuthLink) { %>
                        <a class="nav-link text-light btn btn-primary px-3 border-0 rounded shadow-sm" href="/admin/dashboard">Admin</a>
                    <% } else { %>
                        <a class="nav-link text-light btn btn-dark px-3 border-0 rounded shadow-sm" href="/auth/login">Login</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        
        <div class="row my-3">
            <div class="col-md-8">
                <form action="/" method="POST" class="container-form bg-white border rounded">
                    <input class="form-control bg-white border-0 rounded-right" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-primary px-3 border-0 rounded-right"><span class="ti-search"></span></button>
                </form>
            </div>
        </div>
        