<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="../css/backend-styles.css">

    <title><%= title %></title>
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-header">
            <h4>
                <span>Open Blog</span>
            </h4>
        </div>

        <div class="sidebar-menu">
            <ul class="sidebar-menu-container">
                <li class="sidebar-menu-section">
                    <h5>Admin</h5>
                    <ul>
                        <li><span class="ti-dashboard"></span><a href="">Dashboard</a></li>
                    </ul>
                </li>
                <li class="sidebar-menu-section">
                    <h5>Post</h5>
                    <ul>
                        <li><span class="ti-plus"></span><a href="">Tambah Post Baru</a></li>
                        <li><span class="ti-list"></span><a href="">Tampil Semua Post</a></li>
                        <li><span class="ti-archive"></span><a href="">Arsip Post</a></li>
                    </ul>
                </li>
                <li class="sidebar-menu-section">
                    <h5>Settings</h5>
                    <ul>
                        <li><span class="ti-pencil-alt"></span><a href="">Ubah Password</a></li>
                        <li><span class="ti-key"></span><a href="">Reset Password</a></li>
                    </ul>
                </li>
                <li class="sidebar-menu-section">
                    <ul>
                        <li><span class="ti-arrow-left"></span><a href="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>    

    <div class="main-content">

        <header>
            <div class="header-content">
                <a href=""><span class="ti-arrow-left"></span> Logout</a>
                <div class="header-img"></div>
            </div>
        </header>

        <main>