<%- include('auth-templates/auth-header') %>

<div class="row mt-5">
    <div class="col-lg-4 col-md-6 offset-lg-4 offset-md-3">
        <div class="card p-3 mb-3 shadow-sm border-0">
            <div class="card-body">
            <h4 class="card-title text-center mb-5">Reset Password</h4>
            <form class="text-center">
                <div class="form-group">
                    <input type="username" class="form-control bg-light" id="username" name="username" placeholder="username">
                </div>
                <button type="submit" class="btn btn-primary w-100 my-3 font-weight-bold">Reset Password</button>
                <small><a class="text-dark" href="/auth/login">Login</a></small>
            </form>
            </div>
        </div>
    </div>
</div>

<%- include('auth-templates/auth-footer') %>