<%- include("backend-templates/backend-header") %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md">
        <h3>Kamu telah login sebagai admin!</h3>
        <p>Ayo kelola postinganmu!</p>
    </div>
</div>

<%- include("backend-templates/backend-footer") %>