<%- include("backend-templates/backend-header") %>

<div class="row">
    <div class="col-md-6">
        <%- alert %>
        <div class="card shadow-sm border-0 p-3">
            <div class="card-body">
            <form action="/admin/tambah-post-baru" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control bg-light" id="title" name="title" placeholder="title" autofocus required>
                </div>
                <div class="form-group">
                    <textarea class="form-control bg-light" id="content" name="content" rows="5" placeholder="content" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control bg-light" id="tags" name="tags" placeholder="tags: nodejs, express, etc" required>
                </div>
                <div class="form-group">
                    <input type="file" accept="image/*" class="form-control bg-light" id="image" name="image">
                </div>
                <a href="/admin/tampil-semua-post" class="btn btn-outline-secondary mr-2"><span class="ti-arrow-left"></span> Batal</a>
                <button type="submit" class="btn btn-primary font-weight-bold"><span class="ti-plus"></span> Tambah</button>
            </form>
            </div>
        </div>
    </div>
</div>

<%- include("backend-templates/backend-footer") %>