.navbar-form input, .container-form input, .form-group input, .btn {
    border-radius: 13px;
}

.card {
    border-radius: 20px;
    position: relative;
}

.card-img-top, .breadcrumb {
    border-radius: 10px;
}

@media(min-width: 768px) {
    .navbar-form {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .container-form {
        display: none;
    }
}

@media(max-width: 768px) {
    .navbar-form {
        display: none;
    }
    .navbar-nav a {
        margin: auto;
    }
}