@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.bg-retro-light {
    background-color: #ebd8b7;
}

.navbar-form input, .container-form input, .form-group input, .btn {
    border-radius: 30px;
}

input.form-control {
    margin-top: 3px;
}

.card {
    border-radius: 20px;
    position: relative;
}

.card-img-top, .breadcrumb {
    border-radius: 10px;
}

.alert {
    border-radius: 20px;
    border: 0;
}

@media(min-width: 768px) {
    .container-form {
        display: none;
    }
}

@media(max-width: 768px) {
    .navbar-form {
        display: none;
    }
    .navbar-nav a {
        margin: auto;
    }
}